<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ChessBoard</title>



  </head>
  <body>
    <br><br><br>


    <div class="chessboard">
<!-- 1st -->
<div class="white white-top white-left"></div>
<div class="black"></div>
<div class="white white-top"></div>
<div class="black"></div>
<div class="white white-top"></div>
<div class="black"></div>
<div class="white white-top"></div>
<div class="black"></div>

<!-- 2nd -->
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white white-right"></div>
<!-- 3th -->
<div class="white white-left"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<!-- 4st -->
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white white-right"></div>
<!-- 5th -->
<div class="white white-left"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<!-- 6th -->
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white white-right"></div>
<!-- 7th -->
<div class="white white-left"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<div class="white"></div>
<div class="black"></div>
<!-- 8th -->
<div class="black"></div>
<div class="white white-bottom"></div>
<div class="black"></div>
<div class="white white-bottom"></div>
<div class="black"></div>
<div class="white white-bottom"></div>
<div class="black"></div>
<div class="white white-bottom white-right"></div>
</div>

    <br><br><br>
  </body>
</html>
