<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ChessBoard</title>



  </head>
  <body>
    <br><br><br>

    <div class="chessboard">

        <% (0..7).each do |row| %>
          <div id="row">
         <% (0..7).each do |column| %>

          <!-- Piece Display -->

          <% piece = @chess_board.piece_display[row][column] %>
          <% pieces.each do |piece| %>
            <% if piece.x_position == column && piece.y_position == row %>
              <div class="piece" display-piece-id="<%piece.id%>">
                <%= piece.unicode_symbol.html.safe %>
              </div>
            <% end %>  
          <% end %>  

          <!-- END Piece Display -->

           <% if (row % 2 == 0) %>
             <% if (column % 2 == 0) %>
                <div class="white"></div>
             <% else %>
                <div class="black"></div>
             <% end %>
          <% else %>
             <% if (column % 2 == 1) %>
                <div class="white"></div>
             <% else %>
                <div class="black"></div>
             <% end %>
           <% end %>
         <% end %>
          </div>
        <% end %>

    </div>







    <br><br><br>
  </body>
</html>
