<h1>New game</h1>

<%= simple_form_for @game do |f| %>
  <p>I want to be the...</p>
  <%= f.collection_radio_buttons :white_player_id, [[current_player.id, 'White Player'] ,[nil, 'Black Player']], :first, :last %>
  <br/>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', games_path %>
