.tile {
  z-index: 100;
  cursor: pointer;
}

.black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #000;
}

.white {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
}

.ui-draggable-dragging {
  background-color: yellow;
  z-index: 1000;
}

.black-piece div {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
