.tile {
  z-index: 100;
  cursor: pointer;
}

.black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #000;
}

.white {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
}

.ui-draggable-dragging {
  background-color: yellow;
  z-index: 1000;
}


#message {
  display: none;
}

.button-panel {
  text-align: center;
}

.accept-draw, .reject-draw, .forfeit, .pawn-promotion {
  display: none;
}
