body {
  background-color: #0f253a !important;
}

ul {
  padding: 0 !important;
}
.game_list_wrapper {
  margin-top: 150px;
}

#gi_title, #gi_subtitle {
  color: white !important;
}

.game_li {
  border-radius: 3px;
  padding: 15px;
  background-color: #999999;
  list-style: none;
  margin-bottom: 15px;
}
