@import 'variables';

.hero--header {
  font-family: $primary-font;
  font-size: 60px;
}

.hero {
  background-color: $main-color;
  width: 100%;
  height: 1000px;
}

.hero--columns {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
}

.hero--columns__right {
  @include make-xs-column(8);
}
