@import 'variables';

// Header

.hero {
  background-color: $main-color;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 80px;
}

.hero--header {
  font-family: $primary-font;
  font-size: 60px;
}

// Instructions

.instructions {
  background-color: white;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

// Team

.team {
  background-color: $main-color;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

// Logos

.logos {
  background-color: white;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

// Columns

.hero--columns {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
}

.hero--columns__right {
  @include make-xs-column(8);
}

.instructions--columns {
  @include make-xs-column(6);
  @include make-xs-column-offset(3);
}

.team--columns {
  @include make-xs-column(8);
  @include make-xs-column-offset(2);
}

.logos--columns {
  @include make-xs-column(6);
  @include make-xs-column-offset(3);
}

// Global 

.clear { clear: both; }

