@import "bootstrap-sprockets";
@import "bootstrap";

// Fonts

$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Roboto', sans-serif;

// Colors - named using http://chir.ag/projects/name-that-color/

$ebony-clay: #252C41; // Main color
$flamingo: #F1404B; // Contrast color
$whisper: #F5F6FA; // Light grey
$mishka: #DDDFE6; // Dark blue brey

